<div class="authform">
  <h3>编辑 <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>正在等待<%= resource.unconfirmed_email %>的确认信息</div>
      <% end %>
    </div>
    <fieldset>
      <p>如果不想修改你的密码，请将此留空。</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p>需要输入当前密码</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit '更新', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>取消账户</h3>
<p>使用不爽? 我们很难过看到这，请给我指导，提出批评意见，谢谢！</p>
<%= button_to "撤销账户", registration_path(resource_name), :data => { :confirm => "你确定吗?" }, :method => :delete, :class => 'button right' %>
</div>
