<%= form_for @article, :html => {:multipart => true} do |f| %>
    <!--区别@article跟：article,@为资源-->
<% if @article.errors.any? %>
    <div id = "error_explanation"
    <h2>
      保存文章时出现<%= @article.errors.count %>个错误！
    </h2>
    <!-- 错误个数-->
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
<% end %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %><br>
  <%= f.text_area :text %>
</p>

<p>
<%= f.file_field :article_image %>
<%= f.hidden_field :article_image_cache %>
</p>

<p>
  <label>article_image URL:</label>
  <%= image_tag(@article.article_image_url) if @article.article_image? %>
  <%= f.text_field :remote_article_image_url %>
</p>
<!--添加上传远程图片功能-->
<p>
  <%= f.submit %>
</p>

<% end %>