<p>
  <strong>标题：</strong>
  <%= @article.title %>
</p>

<p>
  <strong>内容：</strong>
  <%= @article.text %>
</p>

<h2>评论</h2>
<%= render @article.comments  %>

<!--render 方法会遍历 @article.comments 集合,@article 变量在所有局部视图中都可使用，因为它是实例变量。-->

<h2>添加评论：</h2>
<%= render 'comments/form' %>

<%= link_to '文章列表', articles_path %> | <%= link_to '编辑',edit_article_path(@article) %>
